@{
    ViewBag.Title = "Login";
}

<html ng-app="myApp">
<head>
    <title></title>
    <link href="~/Content/" rel="stylesheet" />
    <script src="~/Content/Angular/RegisterController.js"></script>
    <script src="~/Content/Angular/RegisterModule.js"></script>
    <script src="~/Content/Angular/RegisterService.js"></script>
    @*<script src="~/Content/Angular/dirPagination.js"></script>*@

</head>
<body>

    <div ng-controller="myCntrl">
        <h1>
            <img src="~/Content/images/Loginicon.png" />
        </h1>
        <br />
        <div id="alertModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- dialog body -->
                    <div class="modal-body">
                        <button type="button" id="btn" value="Close" class="close" data-dismiss="modal">×</button>
                        {{msg}}
                    </div>
                    <!-- dialog buttons -->
                    <div class="modal-footer">
                        <button type="button" ng-click="alertmsg()" class="btn btn-primary">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <h1>{{recipeService.selectedRecipe}}</h1>

        <div class="container-fluid">
            <div class="panel panel-success" style="width: 50%;">
                <div class="panel-heading">Chnage Password</div>
                <div class="panel-body" style="box-shadow: -6px 2px 46px 7px #888888; padding: 20px;">
                    <form name="loginForm" novalidate>
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3" style="text-align: right;">
                                        Account Number :
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">

                                            <label>{{acntNum}}</label>
                                            <input type="text" class="form-control" id="acntNum" ng-model="acntNum" name="Username" />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3" style="text-align: right;">
                                        New Password :
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="newPwd" placeholder="New Password" ng-model="newPwd" name="Username" required autofocus />
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none">
                                                <p style="position: absolute; top: 30%; left: 45%; color: White;">
                                                    please wait...<img src="~/Content/images/load.png">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-5" style="text-align: right;">
                                            <button id="btnChangePwd" type="submit" class="btn btn-success" ng-disabled="!(newPwd)" ng-click="ChangePwd()">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>   