
<div class="col-sm-12 paddingInherit">

    <div class="innerPanel">
        <div class="row navbar-header textCenter header col-md-7 col-sm-12 paddingInherit">
            <div>
                <div>
                    <img class="img-responsive" src="../../Content/Imgaes/Refricentro_Logo.png" style="max-width:80%;" />
                </div>
                <!--<br />-->
                <div class="brands ">
                    <h5>Few of our brands</h5>
                    <img class="img-responsive" src="../../Content/Imgaes/bohn.png" />
                    <img class="img-responsive" src="../../Content/Imgaes/1365982315_First-Co-Logo.png" />
                    <img class="img-responsive" src="../../Content/Imgaes/Tecumseh_Products_logo.svg.png" />
                    <img class="img-responsive" src="../../Content/Imgaes/Samsung-Logo.png" />
                    <img class="img-responsive" src="../../Content/Imgaes/tgm.png" />
                    <img class="img-responsive" src="../../Content/Imgaes/york.png" />
                    <img class="img-responsive" src="../../Content/Imgaes/Embraco logo.png" />
                    <img class="img-responsive" src="../../Content/Imgaes/IOM_MFG.png" />
                    <img class="img-responsive" src="../../Content/Imgaes/erico-80.png" />
                    <img class="img-responsive" src="../../Content/Imgaes/Paco_Logo_2.png" />
                    <img class="img-responsive" src="../../Content/Imgaes/2000px-Honeywell_logo.svg.png" />
                </div>
            </div>
        </div>
        <div class="row col-md-5 col-sm-12 overflowauto" ng-controller="myCntrl" id="login">

            <br />

            <div id="alertModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- dialog body -->
                        <div class="modal-body">
                            <button type="button" id="btn" value="Close" class="close" data-dismiss="modal">×</button>
                            {{message}}
                        </div>
                        <!-- dialog buttons -->
                        <div class="modal-footer">
                            <button type="button" (click)="closemodal()" class="btn btn-primary">OK</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="changePassword" class="modal fade">


                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- dialog body -->
                        <div class="modal-body">
                            <button type="button" id="btn" value="Close" class="close" data-dismiss="modal">×</button>

                            <h3>Welcome !  Please update your password.</h3>
                            <br />

                            <table>
                                <tr>
                                    <td>
                                        PASSWORD
                                    </td>
                                    <td>
                                        <input name="newpassword" id="newpassword" [(ngModel)]="newPassword" type="password" class="dashedBorder" />
                                    </td>
                                </tr>
                                <br />
                                <tr>
                                    <td>
                                        CONFIRM PASSWORD
                                    </td>
                                    <td>
                                        <input type="password" name="confirm_password" id="confirm_password" class="dashedBorder" />

                                    </td>

                                </tr>

                            </table>

                            <br>

                            <span id='message'></span>
                        </div>
                        <!-- dialog buttons -->
                        <div class="modal-footer">
                            <button id="btnChangePwd" type="submit" class="btn btn-success" disabled (click)="ChangePwd()">Done</button>
                        </div>
                    </div>
                </div>


            </div>

            <div class="container-fluid">



                <form name="loginForm" novalidate>
                    <div class="imageDiv">
                        <img src="https://image.flaticon.com/icons/svg/223/223088.svg" />
                    </div>



                    <div class="form-group">
                        <div class="row">
                            <!--@*<div class="col-md-3" style="text-align: right;">
                                Username :
                            </div>**@
                            @*<div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="acntNum" placeholder="USERNAME" ng-model="acntNum" name="Username" required autofocus />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                </div>
                            </div>*@
                            @*<span class="glyphicon glyphicon-user"></span>*@-->

                            <input type="text" class="form-control" id="acntNum" placeholder="ACCOUNT NUMBER" [(ngModel)]="userLoginDetails.CustomerNumber" name="Username" required autofocus />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <!--@*<div class="col-md-3" style="text-align: right;">
                                Password :
                            </div>*@
                            @*<span class="glyphicon glyphicon-lock"></span>*@-->

                            <input type="password" class="form-control" id="password" placeholder="PASSWORD" [(ngModel)]="userLoginDetails.Password" name="Password" required autofocus />
                            <a href="#" name="forgot password ?"></a>
                        </div>
                    </div>
                    <!--@*<div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none">
                                    <p style="position: absolute; top: 30%; left: 45%; color: White;">
                                        please wait...<img src="~/Content/images/load.png">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>*@-->

                    <div>
                        <button id="btnLogin" type="submit" ng-disabled="!(password && acntNum)" (click)="ValidateLogin()">LOGIN</button>
                        <!--@*<button id="btnLogin" type="submit" ng-disabled="!(password && acntNum)" ng-click="LoginCheck()"><i class="glyphicon glyphicon-ok"></i></button>*@-->

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
