
<html ng-app="myApp">
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/moment.min.js"></script>
    <link href="~/Content/CSS/sideNavBar.css" rel="stylesheet" />
    <script src="~/scripts/jquery.dataTables.min.js"></script>
    @*<link href="~/Content/CSS/jquery.dataTables.min.css" rel="stylesheet" />*@
    <script src="~/scripts/dataTables.semanticui.min.js"></script>
    <link href="~/Content/CSS/dataTables.semanticui.min.css" rel="stylesheet" />
    <script src="~/scripts/semantic.min.js"></script>
    <link href="~/Content/CSS/semantic.min.css" rel="stylesheet" />
    <script src="~/scripts/daterangepicker.js"></script>
    <link href="~/Content/CSS/daterangepicker.css" rel="stylesheet" />
</head>
<body>
    <script>
    System.defaultJSExtensions = true;
    System.import('/src/USerAccount/main').catch(function (err)
        {
            console.error(err);
        });
    </script>
    <user-account>Loading...</user-account>

</body>
</html>





